/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


/* CABEÇALHO */

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
}


/* MENU */

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* ÁREA PRINCIPAL */

.hero {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
        ),
        url(".imagens/sala.jpg.");

    background-size: cover;
    background-position: center;

    color: white;
}


/* TEXTO PRINCIPAL */

.hero-conteudo {
    max-width: 700px;
    padding: 30px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6;
}


/* BOTÃO */

.botao {
    display: inline-block;

    background-color: #c49a6c;
    color: white;

    padding: 14px 25px;

    text-decoration: none;

    border-radius: 5px;

    font-weight: bold;
}

.botao:hover {
    background-color: #a77d52;
}


/* DIFERENCIAIS */

.diferenciais {
    padding: 60px 20px;
    text-align: center;
}

.diferenciais h2 {
    font-size: 30px;
    margin-bottom: 40px;
}


/* CARDS */

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;

    width: 280px;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.card p {
    line-height: 1.5;
}


/* RODAPÉ */

footer {
    background-color: #222;

    color: white;

    text-align: center;

    padding: 20px;
} 